/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Typeface */
@font-face {
  font-family: "Antarctica";
  src: url("fonts/Antarctica.ttf") format("truetype-variations");
}

/* Base */

html,
body {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Antarctica, Helvetica, Arial, sans-serif;
  font-variation-settings: "wdth" 88, "wght" 430, "ital" 1, "CNTR" 0;
  transition: font-variation-settings 350ms;
  text-rendering: geometricPrecision;
}

p,
a {
  color: rgb(0, 0, 0);
}

/* -------------------- */
/* Mobile */
/* -------------------- */

@media (max-width: 768px) {

  body {
    margin: 10px;
    display: flex;
    overflow: hidden;
    font-size: 1.08rem;
    letter-spacing: 0.001rem;
    line-height: 1.16em;
  }

  p,
  a {
    font-size: inherit;
    line-height: inherit;
  }

  p {
    padding-bottom: 1.16rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

/* -------------------- */
/* Desktop */
/* -------------------- */

@media (min-width: 769px) {

  body {
    margin: 23px;
    overflow: hidden;
    font-size: 0.94rem;
    letter-spacing: 0.001rem;
    line-height: 1.18em;
  }

  p,
  a {
    font-size: inherit;
    line-height: inherit;
  }

  p {
    padding-bottom: 1.18rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 21px;
    height: calc(100vh - 46px);
  }

  #one {
    grid-column: 1 / 3;
  }

  #two {
    grid-column: 3 / 5;
  }

  ::selection {
    background: rgb(10, 10, 10);
    color: rgb(243, 243, 243);
  }

  a {
    transition: font-variation-settings 150ms;
  }

  a:hover {
    font-variation-settings: "wdth" 88, "wght" 430, "ital" 1, "CNTR" 0;
    color: rgb(205, 205, 205);
  }
}

/*
.grid div {
  background: rgb(190,112,112);
  opacity: .8;
}

.grid div:nth-child(even) {
  background: rgb(78,78,198);
  opacity: .8;
}
*/
